<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>初级coder一枚，因为兴趣而选择这条路，keep hunger, keep young。</p>
        <p>常看大佬们的分享，自己也在尝试记录和分享。</p>
        <p>我是一名北漂，和大多数北漂一样，为了生计而奔波，有时候也会怀疑生活是为了啥？</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是wyc1856，一个仍然在路上，向往自由和梦想的人！</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>我的微信：<strong>wyc_1856</strong>（备注：博客）</li>
            <li>我的QQ：<strong>841671026</strong>（备注：博客）</li>
        </ul>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>